body {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(0, 0, 0);
}
.header {
  padding: 15px 30px;
  width: 740px;
  background-color: rgb(86, 86, 86);
  border: 2px solid rgb(255, 255, 255);
  margin: 0;
  text-align: center;
}
h1 {
  font-size: 1rem;
  font-weight: 600;
  flex-wrap: wrap;
  color: white;
}
.mainDiv {
  display: flex;
  flex-direction: row;
}
.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.board {
  display: grid;
  height: 800px;
  width: 800px;
  border: 2px solid white;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-right: 2rem;
}
.menuSubItems {
  display: flex;
  flex-direction: column;
  height: 100px;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: rgb(86, 86, 86);
  padding: 0 8px;
  width: 90px;
  text-align: center;
  border: 2px solid white;
}
.menuSubItems:nth-child(n + 4):hover {
  background-color: rgb(173, 173, 173);
  color: black;
}
.canvasSizePicker,
.canvasColorPicker,
.brushColorPicker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  margin-top: 6px;
  width: 75px;
  flex-wrap: wrap;
}

.go {
  background-color: gray;
  color: white;
  font-weight: 600;
  padding: 2px 6px;
  width: 75px;
  border: 1px solid white;
  text-align: center;
}
.input {
  width: 70px;
  text-align: center;
}

.clr {
  width: 25px;
  height: 25px;
}
